In [4]:
# Add dependencies
import glob
import pandas as pd

In [7]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
clean_data_ridership = pd.concat([pd.read_csv(f) for f in glob.glob('C:/Users/Magnus/Desktop/Tableau/raw_data/CitiBikeDailyRidershipandMembershipData/*.csv')], ignore_index = True)
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('C:/Users/Magnus/Desktop/Tableau/raw_data/CitiBikeTripHistories/*.csv')], ignore_index = True)

C:\Users\Magnus\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [8]:
clean_data_ridership.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/17,16009,50761,206624,1237,33
1,1/2/17,8921,21545,206675,142,15
2,1/3/17,14198,25879,206728,42,15
3,1/4/17,34039,69966,206778,475,29
4,1/5/17,28393,52446,206845,214,17

In [9]:
clean_data_ridership.count()

Date                                                  365
Trips over the past 24-hours (midnight to 11:59pm)    365
Miles traveled today (midnight to 11:59 pm)           365
Total Annual Members (All Time)                       365
24-Hour Passes Purchased (midnight to 11:59 pm)       365
3-Day Passes Purchased (midnight to 11:59 pm)         365
dtype: int64

In [10]:
clean_data_trip.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25542.0,1965.0,3165.0,40.775794,-73.976206,Central Park West & W 72 St,2.0,3226.0,40.782750,-73.971370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21136.0,1987.0,498.0,40.748549,-73.988084,Broadway & W 32 St,2.0,3263.0,40.729236,-73.990868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18147.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21211.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26819.0,NaN,3152.0,40.768737,-73.961199,3 Ave & E 71 St,0.0,3143.0,40.776829,-73.963888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Export to csv
clean_data_ridership.to_csv("clean_data/clean_quarter_data_2017.csv")
clean_data_trip.to_csv("clean_data/clean_data_2017.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'clean_data/clean_quarter_data_2017.csv'